@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper {
    width: 1440px ;
    
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
}


header .logo-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .left-space{
   width: 127px;
}

header .right-logos {
    gap: 10px;
    display: flex;
    justify-content: flex-end;
    width: 127px;
}

header .logo {
    margin-top: 27px ;
    background: url('./icons/logo.svg');
    width: 51px;
    height: 51px;
}

header .logo-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 29px;


}



header .youtube {

    background: url('./icons/youtube.svg');
    width: 22px;
    height: 22px;
    margin-top: 6px;
    margin-left: 7px;
}

header .soundcloud {

    background: url('./icons/soundcloud.svg');
    width: 36px;
    height: 36px;
}

header .telegram {

    background: url('./icons/telegram.svg');
    width: 22px;
    height: 22px;
    margin-top: 6px;
    margin-right: 8px;
}

header .logo {
    background: url('./icons/logo.svg');
    width: 51px;
    height: 51px;
}

header .logo-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 29px;


}

header .right-logos {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}
header .youtube {
    cursor: pointer;
    background: url('./icons/youtube.svg');
    width: 22px;
    height: 22px;
    margin-top: 6px;
    margin-left: 7px;
}
header .soundcloud {
    cursor: pointer;
    background: url('./icons/soundcloud.svg');
    width: 36px;
    height: 36px;
}
header .telegram {
    cursor: pointer;
    background: url('./icons/telegram.svg');
    width: 22px;
    height: 22px;
    margin-top: 6px;
    margin-right: 8px;
}

/* mediaBuba430px---------------------------------------------------------------------- */
@media (max-width: 430px){
        .wrapper,
        body {
            width: 100%;
        }
    
        .logo,
        .logo-text {
            margin: 0 auto;
            text-align: center;
        }
    
        .right-logos {
            display: flex;
            justify-content: center;
        }           
        .logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            }

}